.DraftEditor-root {
  min-height: 150px;
  margin-top: 5px;
  margin-bottom: 20;
  height: 200px;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  text-overflow: ellipsis;
  padding-inline: 2px;
  white-space: normal;
  overflow: auto;
  padding: 5px;
  color: white;
}

.DraftEditor-root:focus-within {
  background-color: rgba(34, 33, 33, 0.318);
  margin-bottom: 1rem;
}

[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: rgb(255, 255, 255);
  font-style: italic;
}
[contenteditable]:focus {
  outline: 0px solid transparent;
}

.math {
  cursor: pointer;
  padding: 5px 20px;
  border: #888 1px dashed;
  border-radius: 5px;
}

.close {
  position: absolute;

  top: -20px;
  right: -20px;
  color: #ffffff;
}
