.DraftEditor-root {
  border: solid 1px #cccccc;
  min-height: 150px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-overflow: ellipsis;
  padding-inline: 10px;
  white-space: normal;
  overflow: auto;

}

[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #888;
  font-style: italic;
}
[contenteditable]:focus{
  outline: 0px solid transparent;
}

.math {
  cursor: pointer;
  padding: 5px 20px;
  border: #888 1px dashed;
  border-radius: 5px;
  
 
}



.close{
  position: absolute;
  
  top: -20px;
  right: -20px;
  color: rgb(117, 112, 112);
  
}