pre {
  background-color: #0d0d0d;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
}

.latex-inline {
  display: inline-block;
}

.latex-rendered {
  display: inline-block;
  vertical-align: middle;
  margin-inline: 10px;
}
