.ProseMirror {
  margin-top: 0.75em;
  height: 160px;
  
  padding-inline: 20px;
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror:focus {
  border: #adb5bd 1px solid;
  padding-inline: 20px;
  border-radius: 5px;
}



/* Placeholder (on every new line) */
/*.ProseMirror p.is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;*/
