.ProseMirror {
  margin-top: 0.75em;
  min-height: 200px;
  height: auto;
  padding-inline: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror:focus {
  border: #54565842 2px solid;
  padding-inline: 20px;
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.301);
}

.math-block-preview:hover {
  display: flex;
  border: solid blue;
  text-align: center;
  padding-inline: 20px;
  cursor: pointer;
}

/* Placeholder (on every new line) */
/*.ProseMirror p.is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;*/
